<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">iAmAllergic</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="login">Login</a></li>
            <li><a href="register">New User?</a></li>
        </ul>
    </div>
</nav>

        